main {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: black;
    text-align: center;
    padding-bottom: 5%;
    padding-top: 1%;
}

h1 {
    color: white;
    margin-left: 10px;
    margin-top: 30px;
    text-align: center;
}

span {
    color: white;
    font-style: italic;
    margin: 10px;
}

img {
    display: block;
    margin-left: 40%;
    margin-top: 5%;
}
